In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import plotly.express as px

In [2]:
jobscsv = pd.read_csv("jobs.csv")

In [3]:
display(jobscsv)

,HostMachineName,Job Key,StartTime,EndTime
0,NaN,NaN,NaN,NaN
1,DEFRARPAP006,036144ec-608a-4b7e-ac24-070825fa6930,7/5/2022 12:18,7/5/2022 12:30
2,DEFRARPAP006,89cac8e2-6bb5-47a5-85d8-1687035382bf,7/5/2022 16:33,7/5/2022 16:44
3,DEFRARPAP027,a98505a3-c683-413f-b06f-e46b4e06e592,7/4/2022 12:01,7/4/2022 12:03
4,DEFRARPAP005,d4bc2ba4-feb3-4ed3-bcd9-555db4a74dcb,7/1/2022 14:02,7/1/2022 16:18
...,...,...,...,...
9996,DEFRARPAP014,20eeefee-cbe1-44ce-942e-fcfaa4aa0b54,7/1/2022 10:50,7/1/2022 10:52
9997,DEFRARPAP014,1ba11b0a-f2ec-445e-8c6d-aff0e6c34af6,7/4/2022 10:50,7/4/2022 10:53
9998,DEFRARPAP014,54e1d378-a177-4a3a-84f0-6a3468e5afd9,7/4/2022 16:50,7/4/2022 16:51
9999,DEFRARPAP014,88430b5b-7cc5-4747-830a-cfa9ecbb6e55,7/5/2022 16:50,7/5/2022 16:54
10000,DEFRARPAP014,d506be14-3901-4c4b-8abf-9eab853277d8,7/5/2022 10:50,7/5/2022 10:54

In [4]:
jobscsv.StartTime = pd.to_datetime(jobscsv.StartTime)

In [5]:
jobscsv.EndTime = pd.to_datetime(jobscsv.EndTime)

In [6]:
jobscsv['duration']=jobscsv.EndTime-jobscsv.StartTime
jobscsv

,HostMachineName,Job Key,StartTime,EndTime,duration
0,NaN,NaN,NaT,NaT,NaT
1,DEFRARPAP006,036144ec-608a-4b7e-ac24-070825fa6930,2022-07-05 12:18:00,2022-07-05 12:30:00,0 days 00:12:00
2,DEFRARPAP006,89cac8e2-6bb5-47a5-85d8-1687035382bf,2022-07-05 16:33:00,2022-07-05 16:44:00,0 days 00:11:00
3,DEFRARPAP027,a98505a3-c683-413f-b06f-e46b4e06e592,2022-07-04 12:01:00,2022-07-04 12:03:00,0 days 00:02:00
4,DEFRARPAP005,d4bc2ba4-feb3-4ed3-bcd9-555db4a74dcb,2022-07-01 14:02:00,2022-07-01 16:18:00,0 days 02:16:00
...,...,...,...,...,...
9996,DEFRARPAP014,20eeefee-cbe1-44ce-942e-fcfaa4aa0b54,2022-07-01 10:50:00,2022-07-01 10:52:00,0 days 00:02:00
9997,DEFRARPAP014,1ba11b0a-f2ec-445e-8c6d-aff0e6c34af6,2022-07-04 10:50:00,2022-07-04 10:53:00,0 days 00:03:00
9998,DEFRARPAP014,54e1d378-a177-4a3a-84f0-6a3468e5afd9,2022-07-04 16:50:00,2022-07-04 16:51:00,0 days 00:01:00
9999,DEFRARPAP014,88430b5b-7cc5-4747-830a-cfa9ecbb6e55,2022-07-05 16:50:00,2022-07-05 16:54:00,0 days 00:04:00
10000,DEFRARPAP014,d506be14-3901-4c4b-8abf-9eab853277d8,2022-07-05 10:50:00,2022-07-05 10:54:00,0 days 00:04:00

In [7]:
print(jobscsv['HostMachineName'].unique())
MachineD001_df = jobscsv.loc[jobscsv['HostMachineName'] == 'DEFRARPAP006']
MachineD001_df=MachineD001_df.sort_values(by='StartTime', ascending=True)
fig = px.timeline(MachineD001_df, x_start="StartTime", x_end="EndTime", y="Job Key",  title= "Gantt chart for jobs ran on DEFRARPAP006",width=8000, height=4000)
fig.update_yaxes(autorange="reversed") # otherwise tasks are listed from the bottom up
fig.update_layout(
    font=dict(
        family="Courier New, monospace",
        size=30,
        color="Red"
    )
)
fig.update_traces(marker_color='red')
#fig.show()
fig.write_image("DEFRARPAP006Jobs.png")

[nan 'DEFRARPAP006' 'DEFRARPAP027' 'DEFRARPAP005' 'DEFRARPAP011'
 'DEFRARPAP002' 'DEFRARPAP023' 'DEFRARPAP021' 'defrarpap007'
 'DEFRARPAP010' 'DEFRARPAP014' 'DEFRARPAP003' 'DEFRARPAP016'
 'DEFRARPAP012' 'CHZRHBOTP001' 'DEFRARPAP022' 'DEFRARPAP018'
 'DEFRARPAP019' 'SGSINCFOP001' 'DEFRARPAP029' 'DEFRARPAP028'
 'JPTYOCFOP001']